<ion-view view-title="Calcular Tarifa">
  <ion-content>
    <!--<h3>Calcular Tarifa</h3>-->

      <div class="list list-inset">
        <form name="calc">

    <strong><p>Ingrese la distancia recorrida (Km) -> Km = $ 300</p></strong>
    <label class="item item-input">
      <input type="tel" name="distance" size="4" placeholder="Distancia (Km)">
    </label>
    <br />
    <strong><p>Ingrese el tiempo del recorrido (min) -> Min = $ 60</p></strong>
    <label class="item item-input">
      <input type="tel" name="timer" size="12" placeholder="Tiempo (Min)">
    </label>
    <button class="button button-block button-assertive" type="Button" name="" onclick="calculate()"><i class="icon ion-android-bicycle"></i>
    <output name="resultado" value="0" size="12"></output>
    </form>
  </div>

  </ion-content>
  <div class="bar bar-footer bar-positive">
  <div class="title"><i class="ion-social-bitcoin">   </i>Devoloped by Juan Roa - Segusoft.co   <i class="ion-social-tux"></i></div>
  </div>
</ion-view>
