<ion-view view-title="Calcular Tarifa">
  <ion-content>
    <h2>Calcular Tarifa</h2>

      <div class="list list-inset">
        <form name="calc">
          <span class="label label-danger">Danger</span>
    <p>Ingrese la distancia recorrida</p>
    <label class="item item-input">
      <input type="text" name="distance" value="0" size="4" placeholder="Distancia (Km)">
    </label>
    <label class="item item-input">
      <input type="text" name="timer" value="0" size="12" placeholder="Tiempo (Min)">
    </label>
    <input class="button button-block button-assertive" type="Button" name="" value="=" onclick="calcula()">
    <output type="Text" name="resultado" value="0" size="12"></output>
    </form>
  </div>


  </ion-content>
</ion-view>
